<div class="select-company-component">
  <mat-form-field>
    <mat-label>Выбрать поставщика</mat-label>
    <mat-select
      #selProductCompanies
      (selectionChange)="changeCompany($event.value)"
    >
      <mat-option
        *ngFor="let item of companies$ | async"
        [value]="item"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>