:host {
  display: flex;
  align-items: center;
}

.filters {
  &__form {
    display: flex;
    align-items: center;
  }

  &__button {
    font-size: 13px;
    font-weight: 400;
    color: var(--color-tertiary-light);
    text-decoration: underline;
  }
}

.margin-left {
  margin-left: 20px;
}
