<form
  [formGroup]="form"
  class="filters__form"
>
  <app-select-search
    appGroupSelectSearch
    controlName="groupCode"
    placeholder="Товарная категория"
  ></app-select-search>

  <app-select-search
    appBrandSelectSearch
    controlName="brandCode"
    class="margin-left"
    placeholder="Бренд"
  ></app-select-search>
</form>

<button
  mat-button
  (click)="handleResetFilters()"
  type="button"
  class="filters__button margin-left"
>
  Сбросить фильтры
</button>
