@import "../../../../../scss/icons";
$color-red: var(--color-primary);
$color-green: var(--color-success);
$color-yellow: var(--color-warning);
$color-grey: var(--color-step-500);

.status-img {
  transition: 0.2s;
  width: 12px;
  height: 12px;

  &_approved {
    color: $color-green;
    @include ico-check-circle();
  }

  &_unapproved {
    color: $color-grey;
    @include ico-waiting-circle();
  }

  &_invalid {
    color: $color-red;
    @include ico-stop-circle();
  }

  &_non-exportable {
    color: var(--color-primary);
    @include ico-non-exportable();
  }

  &_waiting-for-approve {
    color: $color-green;
    @include ico-waiting-approve();
  }

  &_waiting-for-process {
    color: $color-grey;
    @include ico-waiting-process();
  }

  &_waiting-for-export {
    color: $color-grey;
    @include ico-waiting();
  }

  &_expired {
    color: $color-yellow;
    @include ico-warning-triangle();
  }

  &_exported {
    color: $color-green;
    @include ico-check-circle-outline();
  }
}
