@import "../../../../../scss/icons";

$positive-color: var(--color-success);
$negative-color: var(--color-primary);
$standard-color: var(--color-step-600);
$light-color: var(--color-step-500);
$title-color: var(--color-step-600);

.tooltip-price {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    text-align: center;
  }

  &__value {
    flex: 1;
    text-align: right;
    font-size: 12px;
    margin-left: 42px;
    font-weight: 500;

    &_positive {
      color: $positive-color !important;

      &:before {
        content: "+";
      }
    }

    &_negative {
      color: $negative-color !important;

      &:before {
        content: "-";
      }
    }

    &_standard {
      color: $standard-color !important;

      &:before {
        content: "" !important;
      }
    }

    &_light {
      color: $light-color !important;

      &:before {
        content: "" !important;
      }
    }
  }

  &__title {
    font-size: 11px;
    color: $title-color;
  }

  &__price-status-img {
    display: inline-block;
    margin-left: 28px;
  }

  &__promo {
    color: #7e7e83;
    text-decoration: line-through;
  }
}
