<div *ngIf="data?.length">
  <div
    *ngFor="let item of data | slice: 0:maxNumberToDisplay"
    class="tooltip-price__container"
  >
    <p
      *ngIf="!hasEndDate; else withoutEndDateRef"
      class="tooltip-price__title"
    >
      {{ item.dateStart | date: "d MMM" }}
    </p>

    <ng-template #withoutEndDateRef>
      <p class="tooltip-price__title">
        {{ item.dateStart | date: "d MMM" }} -
        {{ item.dateEnd | date: "d MMM" }}
      </p>
    </ng-template>

    <div
      [ngClass]="isPositive(item.price)
    ? 'tooltip-price__value_positive'
    : 'tooltip-price__value_negative'"
      [class.tooltip-price__value_standard]="!hasColor"
      class="tooltip-price__value"
    >
      {{ item.price | math: 'abs' | currency }}
    </div>

    <ng-container *ngIf="showPromoPrice$ | async">
      <div
        *ngIf="containsPromoPrice"
        [class.tooltip-price__value_light]="!hasColor"
        class="tooltip-price__value tooltip-price__promo"
      >
        {{ item.promoPrice ? (item.promoPrice | math: 'abs' | currency) : '' }}
      </div>
    </ng-container>

    <div *ngIf="hasStatuses">
      <app-price-status-img
        [status]="item.approvalStatus"
        class="tooltip-price__price-status-img"
      >
      </app-price-status-img>

      <app-price-status-img
        [status]="item.exportStatus"
        class="tooltip-price__price-status-img"
      >
      </app-price-status-img>
    </div>
  </div>
</div>
