<app-info-tooltip
  *ngIf="isEditMode"
  severity="success"
  section="prices"
>
  Для добавления цен загрузите подготовленный заранее CSV-файл с вашими ценами
  по
  <app-link (click)="downloadTemplate()">шаблону</app-link>
</app-info-tooltip>

<div class="wrapper">
  <div class="wrapper__title">
    <div>
      <h1>{{ title }}</h1>
    </div>

    <app-pricetype-select *ngxPermissionsOnly="[permission.ReadRetailPrices, permission.ReadPurchasePrices]">
    </app-pricetype-select>
  </div>
  <div class="container-line">
    <div class="wrapper__filters retailer">
      <app-select-company
        *ngIf="isApprovePricesMode"
        (setCompany)="setCompany($event)"
      >
      </app-select-company>

      <app-filters></app-filters>
    </div>
    <div class="flex-full"></div>

    <ng-container *ngIf="isEditMode">
      <a
        (click)="downloadTemplate()"
        (keydown.enter)="downloadTemplate()"
        class="margin-left"
        tabindex="0"
      > Скачать шаблон </a>

      <app-upload
        class="margin-left"
        [accept]="'.csv'"
      >
        Загрузить CSV</app-upload>
    </ng-container>
  </div>

  <div
    *ngIf="!dataSource && isApprovePricesMode"
    class="not-found"
  >
    <img
      class="not-found__img"
      src="/assets/images/select-company.svg"
      alt="select-company"
    />
    <p class="not-found__text">
      Выберите поставщика <br />
      для согласования цен
    </p>
  </div>

  <ng-container *ngIf="dataSource">
    <form #curForm>
      <div class="table-container mat-elevation-z8">
        <table
          mat-table
          [dataSource]="dataSource.prices$"
          matSort
          matSortActive="created"
          matSortDisableClear
          matSortDirection="desc"
          [formGroup]="filterForm"
          (matSortChange)="dataSource.setSort($event)"
        >
          <!-- matSortActive="seqNo"  -->

          <!-- Product Sap -->
          <ng-container matColumnDef="productSap">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="sap-header">
                SAP код товара М.видео
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="sap">
                {{ product?.productSap }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="productSapFilter">
            <td
              mat-cell
              *matHeaderCellDef
            >
              <mat-form-field>
                <input
                  class="text-right"
                  matInput
                  formControlName="productSap"
                  type="text"
                  autocomplete="off"
                />
              </mat-form-field>
            </td>
          </ng-container>
          <!-- / Product Sap -->

          <!-- Material supplier Code -->
          <ng-container matColumnDef="materialSupplierCode">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="material-suppler-code-header">Код в системе поставщика</div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="material-suppler-code">
                {{ product?.materialSupplierCode }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="materialSupplierCodeFilter">
            <td
              mat-cell
              *matHeaderCellDef
            >
              <mat-form-field>
                <input
                  matInput
                  formControlName="materialSupplierCode"
                  type="text"
                  autocomplete="off"
                />
              </mat-form-field>
            </td>
          </ng-container>
          <!-- / Material supplier Code-->

          <!-- Manufacturing Code -->
          <ng-container matColumnDef="manufacturingCode">
            <th
              mat-header-cell
              *matHeaderCellDef
              disableClear
            >
              <div class="manufacturing-code-header">
                Артикул производителя
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="manufacturing-code">
                {{ product?.manufacturingCode }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="manufacturingCodeFilter">
            <td
              mat-cell
              *matHeaderCellDef
            >
            </td>
          </ng-container>
          <!-- Manufacturing Code -->

          <!-- Product Name -->
          <ng-container matColumnDef="productName">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="product-name-header">Маркетинговое название</div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="product-name">
                {{ product?.productName }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="productNameFilter">
            <td
              mat-cell
              *matHeaderCellDef
            >
              <mat-form-field>
                <input
                  matInput
                  formControlName="productName"
                  type="text"
                  autocomplete="off"
                />
              </mat-form-field>
            </td>
          </ng-container>
          <!-- / Product Name -->

          <!-- Price -->
          <ng-container matColumnDef="price">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="price-header">
                Текущая цена
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="price">
                <div
                  [appPopoverTriggerFor]="tooltipIntervalPrice"
                  [appPopoverTriggerDisabled]="!product.prices?.length"
                >
                  <div>
                    {{
                    product?.currentPrice?.price
                    ? (product.currentPrice.price | currency)
                    : "не указана"
                    }}
                  </div>
                  <div
                    class="future"
                    *ngIf="product.prices?.length > 0"
                  >
                    будущие цены
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="priceFilter">
            <td
              mat-cell
              *matHeaderCellDef
            >
              <mat-form-field>
                <input
                  matInput
                  formControlName="price"
                  type="text"
                  mask="separator.2"
                  decimalMarker=","
                  thousandSeparator=" "
                  autocomplete="off"
                />
              </mat-form-field>
            </td>
          </ng-container>
          <!-- / Price -->

          <!-- Promo Price -->
          <ng-container matColumnDef="promoPrice">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="promo-price-header">
                <span>
                  Перечеркнутая цена
                </span>
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="promo-price">
                {{
                product?.currentPrice?.promoPrice
                ? (product.currentPrice.promoPrice | currency)
                : "не указана"
                }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="promoPriceFilter">
            <td
              mat-cell
              *matHeaderCellDef
            >
              <mat-form-field>
                <input
                  matInput
                  formControlName="promoPrice"
                  type="text"
                  mask="separator.2"
                  decimalMarker=","
                  thousandSeparator=" "
                  autocomplete="off"
                  class="text-right"
                />
              </mat-form-field>
            </td>
          </ng-container>
          <!-- / Promo Price -->

          <!-- Price New -->
          <ng-container matColumnDef="priceNew">
            <th
              mat-header-cell
              *matHeaderCellDef
              disableClear
            >
              <div class="new-price-header">
                Новое значение
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product; index as index"
            >
              <ng-container
                *ngIf="price(index) as formGroup"
                [formGroup]="formGroup"
              >
                <mat-form-field
                  appearance="outline"
                  class="new-price"
                >
                  <input
                    formControlName="price"
                    mask="separator.2"
                    decimalMarker=","
                    thousandSeparator=" "
                    matInput
                    [suffix]="'' | currencySymbol"
                    class="input_blue-underlined text-right"
                    [class.input_blue-underlined_empty]="formGroup.value?.price"
                    type="text"
                    placeholder="не указана"
                    [maxLength]="maxLengthPrice"
                  />
                </mat-form-field>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="priceNewFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Price New -->

          <!-- Promo Price New -->
          <ng-container matColumnDef="promoPriceNew">
            <th
              mat-header-cell
              *matHeaderCellDef
              disableClear
            >
              <div class="new-promo-price-header">
                <span>
                  Новая перечеркнутая цена
                </span>
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product; index as index"
            >
              <ng-container
                *ngIf="price(index) as formGroup"
                [formGroup]="formGroup"
              >
                <mat-form-field
                  appearance="outline"
                  class="new-promo-price"
                >
                  <input
                    formControlName="promoPrice"
                    mask="separator.2"
                    decimalMarker=","
                    thousandSeparator=" "
                    matInput
                    [suffix]="'' | currencySymbol"
                    class="input_blue-underlined text-right"
                    [class.input_blue-underlined_empty]="formGroup.value?.promoPrice"
                    type="text"
                    placeholder="не указана"
                    [maxLength]="maxLengthPrice"
                  />
                </mat-form-field>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="promoPriceNewFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Promo Price New -->

          <!-- New Old Price -->
          <ng-container matColumnDef="newOldPrice">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="old-new-prices-header">
                Старая и новая<br />
                цена товара от поставщика, ₽
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="old-new-prices">
                <div>
                  {{ product?.currentPrice?.price | number }}
                  <p
                    class="cell-new-price"
                    *ngIf="product?.prices?.length"
                  >
                    {{ product?.prices[0].price | number }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="newOldPriceFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / New Old Price -->

          <!-- Price Status -->
          <ng-container matColumnDef="priceStatus">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="price-status-header">
                Статус модерации цены
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="price-status">
                <app-price-status-img
                  *ngIf="product.currentPrice?.approvalStatus as status"
                  [status]="status"
                >
                </app-price-status-img>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="priceStatusFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Price Status -->

          <!-- Price ERP Status -->
          <ng-container matColumnDef="priceERPStatus">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="price-erps-status-header">
                Статус публикации цены
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="price-erps-status">
                <app-price-status-img
                  *ngIf="product.currentPrice?.exportStatus as status"
                  [status]="status"
                >
                </app-price-status-img>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="priceERPStatusFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Price ERP Status -->

          <!-- Date Out -->
          <ng-container matColumnDef="dateOut">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="date-out-header">Действительна от</div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="date-out">
                <span
                  [appPopoverTriggerFor]="tooltipCurrentPriceHistory"
                  [appPopoverTriggerDisabled]="!product.currentPrice?.changeHistory"
                >
                  {{ product?.currentPrice?.dateStart | date: "d MMM" }}
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="dateOutFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Date Out -->

          <!-- Date Out New -->
          <ng-container matColumnDef="dateOutNew">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="date-out-new-header">
                Начало действия новой цены
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div
                class="date-out-new"
                *ngIf="product?.prices?.length"
              >
                {{ product.prices[0].dateStart | date: "dd MMM" }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="dateOutNewFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Date Out New -->

          <!-- Date Edit -->
          <ng-container matColumnDef="dateEdit">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="date-out-edit-header">Действительна от</div>
            </th>
            <td
              mat-cell
              *matCellDef="let product; index as index"
            >
              <div
                *ngIf="price(index) as formGroup"
                class="date-out-edit"
                [class.error-border]="hasError(formGroup)"
              >
                <ng-container [formGroup]="formGroup">
                  <button
                    mat-icon-button
                    (click)="dateStartPicker.open()"
                    type="button"
                  >
                    <mat-icon class="datepicker__icon">today</mat-icon>
                  </button>
                  <mat-datepicker
                    #dateStartPicker
                    [restoreFocus]="false"
                  ></mat-datepicker>
                  <input
                    matInput
                    formControlName="dateStart"
                    [matDatepicker]="dateStartPicker"
                    [min]="minDateStartPrice"
                    [max]="maxDateStartPrice"
                  />
                </ng-container>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="dateEditFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Date Edit -->

          <!-- Retailer Name And Status -->
          <ng-container matColumnDef="retailerNameAndStatus">
            <th
              mat-header-cell
              *matHeaderCellDef
              disableClear
            >
              <div class="retailer-name-and-status-header">
                Торговая сеть<br />
                и статус публикации
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product"
            >
              <div class="retailer-name-and-status">
                <app-product-img [productRetailers]="product?.retailerNameAndStatus">
                </app-product-img>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="retailerNameAndStatusFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Retailer Name And Status -->

          <!-- Percentage Change Price -->
          <ng-container matColumnDef="percentageChangePrice">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div
                class="percentage-change-price-header"
                matTooltip="Процент изменения цены от новой к старой"
              >
                <img
                  src="/assets/images/percent.svg"
                  alt="percent"
                />
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let product; index as index"
            >
              <div
                *ngIf="product?.prices[0]?.price"
                class="percentage-change-price"
                [ngClass]="
                  (product | priceIsPositive) ? 'positive' : 'negative'
                "
              >
                {{ product | pricePercentageChanges }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="percentageChangePriceFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Percentage Change Price -->

          <!-- Approve -->
          <ng-container matColumnDef="approve">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              disableClear
            >
              <div class="price-approve-header">Подтверждение цены</div>
            </th>
            <td
              mat-cell
              *matCellDef="let product; index as index"
            >
              <ng-container
                *ngIf="approvePriceForm(index) as formGroup"
                [formGroup]="formGroup"
              >
                <div
                  *ngIf="product?.prices?.length && product?.prices[0]?.price"
                  class="price-approve"
                >
                  <mat-checkbox formControlName="approved">
                    <div></div>
                  </mat-checkbox>
                </div>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="approveFilter">
            <td
              mat-cell
              *matHeaderCellDef
            ></td>
          </ng-container>
          <!-- / Approve -->

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>

          <tr
            mat-row
            *matHeaderRowDef="displayedColumnFilters; sticky: true"
          ></tr>

          <tr
            mat-row
            *matRowDef="let row; let product; columns: displayedColumns"
            (mouseenter)="setHoveredRow(row)"
          ></tr>
        </table>

        <app-table-loading *ngIf="dataSource?.loading$ | async"></app-table-loading>
      </div>

      <div class="flex-row">
        <mat-paginator
          [length]="dataSource.length$ | async"
          (page)="dataSource.setPage($event)"
          [pageSizeOptions]="[5, 10, 20, 50, 100]"
          [pageSize]="10"
          showFirstLastButtons
        ></mat-paginator>

        <!-- todo сделать так: -->
        <!-- <mat-paginator *ngIf="data.page$ | async as page"
                       [length]="page.totalElements"
                       [pageSize]="page.size"
                       [pageIndex]="page.number"
                       [hidePageSize]="true"
                       (page)="data.fetch($event.pageIndex)">
        </mat-paginator> -->
        <div
          *ngIf="isEditMode"
          class="panel-button-save"
        >
          <mat-spinner
            *ngIf="savingState.pending$ | async"
            [diameter]="26"
          ></mat-spinner>

          <button
            mat-flat-button
            (click)="save()"
            [disabled]="(savingState.pending$ | async) || !canSave"
            class="save-button"
          >
            <mat-icon>save</mat-icon>
            Сохранить
          </button>
        </div>

        <div
          *ngIf="isApprovePricesMode"
          class="panel-button-save"
        >
          <mat-spinner
            *ngIf="savingState.pending$ | async"
            [diameter]="26"
          ></mat-spinner>

          <button
            mat-flat-button
            (click)="approvePrice()"
            [disabled]="
              (savingState.pending$ | async) || approvePricesForm?.pristine
            "
            class="save-button"
          >
            <mat-icon>done</mat-icon>
            Подтвердить
          </button>
        </div>
      </div>
    </form>
  </ng-container>
</div>

<app-popover #tooltipIntervalPrice="appPopover">
  <app-price-tooltip-price
    *ngIf="pricePrice$ | async as prices"
    [data]="prices"
    [hasStatuses]="true"
  >
  </app-price-tooltip-price>
</app-popover>

<app-popover #tooltipCurrentPriceHistory="appPopover">
  <ng-container *ngIf="historyPrices$ | async as prices">
    <app-price-tooltip-price
      [data]="prices"
      [hasColor]="true"
    >
    </app-price-tooltip-price>
  </ng-container>
</app-popover>