@import "../../../../../scss/icons";

$disabled-bgd-color: var(--color-step-500);
$disabled-color: var(--color-light);

$disabled-bgd-save-color: var(--color-secondary);
$disabled-save-color: var(--color-light);

$check-bgd-color: var(--color-step-150);
$check-active-bgd-color: var(--color-success);

$positive-color: var(--color-success);

$not-found-text: var(--color-step-500);

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 384px;
  background: $disabled-color;

  &__img {
    width: 80px;
    height: 80px;
  }

  &__text {
    font-size: 14px;
    line-height: 17.5px;
    color: $not-found-text;
    margin-top: 23px;
  }
}

.container-line {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light);
  align-items: center;
  padding-right: 20px;
}

td div .done {
  transition: 0.2s;

  img {
    width: 12px;
    height: 12px;
    color: $positive-color;
    @include ico-check-circle();
  }
}

.panel-button-save {
  display: flex;
  align-items: center;
  text-align: right;
  padding: 15px;
}

.disabled {
  background-color: $disabled-bgd-color;
  color: $disabled-color;
}

.save-button {
  margin-left: 6px;

  &-container {
    display: flex;
    align-items: center;
  }

  &:not(:disabled) {
    background-color: $disabled-bgd-save-color;
    color: $disabled-save-color;
  }
}

.margin-left {
  margin-left: 20px;
}

// start: overwrite the checkbox style
:host ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background,
:host
  ::ng-deep
  .mat-checkbox:not(.mat-checkbox-disabled)
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: $check-active-bgd-color !important;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 28px;
  height: 28px;
  background: $check-bgd-color;
}

mat-checkbox::ng-deep {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 4px !important;
    border: none;
  }
}

mat-pseudo-checkbox::ng-deep {
  height: 10px !important;
  width: 10px !important;
}

// end: overwrite the checkbox style
