<h1
  mat-dialog-title
  class="dialog-overlay-pane-dialog__title"
>
  Согласовать выбранные цены?
</h1>

<mat-dialog-content>
  <p class="dialog-overlay-pane-dialog__text">
    Выбранные цены примут статус “согласованы”.
    Если есть хотя бы одна несогласованная цена,
    поставщик получит уведомление что цена отклонена.
  </p>
</mat-dialog-content>

<mat-dialog-actions class="dialog-overlay-pane-dialog__action-panel">
  <button
    mat-button
    matDialogClose
    color="primary"
    type="button"
  >
    Отмена
  </button>
  <button
    mat-button
    class="dialog-overlay-pane-dialog__btn-save"
    color="primary"
    type="button"
    cdkFocusInitial
    (click)="save()"
  >
    Понятно
  </button>
</mat-dialog-actions>