.dialog-overlay-pane-dialog {
  &-overlay-pane {
    .mat-dialog-container {
      border-radius: 4px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.17;
  }

  &__text {
    font-size: 14px;
    line-height: 1.25;
    color: var(--color-step-550);
  }

  &__action-panel {
    justify-content: flex-end;
  }

  &__btn-save {
    text-transform: uppercase;
  }
}
